body {
  --max-width: 600px;
  --header-color: #cdf7e4;
  --header-height: 3rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  line-height: 1.6;
  font-size: 1.1rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background: var(--header-color);
  height: var(--header-height);
  padding: 0 calc(max(0.6em, (100vw - var(--max-width)) / 2));

  & a {
    text-decoration: none;
    color: inherit;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & h1 {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0;
  }

  & nav ul {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 1.3em;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.home {
  max-width: var(--max-width);
  margin: auto;
  padding: 0.6em;

  & h1 {
    text-align: center;
    font-size: 6em;
    font-weight: normal;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-shadow: 2px 4px 0px #64e8ae;
  }

  & .description {
    text-align: center;
    margin-bottom: 4rem;
  }

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }

  & li {
    max-width: 60%;
    margin-bottom: 2em;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #64e8ae;

    &:nth-child(even) {
      align-self: end;
      text-align: right;
    }
  }
}

.guide {
  --nav-width: 15rem;
  --content-width: 35rem;
  --extra-width: calc(100vw - var(--nav-width) - var(--content-width));
  --page-margin: calc(0.5 * var(--extra-width));

  position: absolute;
  top: var(--header-height);
  height: calc(100vh - var(--header-height));
  width: 100vw;
  overflow: hidden;

  & nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: calc(var(--nav-width) + var(--page-margin));
    padding-left: var(--page-margin);
    padding-top: 2em;
    padding-bottom: 2em;
    box-sizing: border-box;
    overflow-y: scroll;

    & ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    & .section-links {
      margin-top: 1em;
    }

    & li {
      padding: 0.2em;

      &.active {
        color: #168250;
      }

      &:first-child {
        font-weight: bold;
      }
    }

    & a {
      color: inherit;
      text-decoration: none;
    }
  }

  & main {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: calc(var(--content-width) + var(--page-margin));
    padding-right: var(--page-margin);
    padding-top: 0.4em;
    padding-bottom: 2rem;
    box-sizing: border-box;
    overflow-y: scroll;

    & h2 {
      font-size: 2em;
      font-weight: bold;
      margin-bottom: 1.5em;
      margin-top: 1.5em;
    }

    & a {
      color: #168250;
      text-decoration: none;
    }
  }
}

pre > code {
  --hl-base: #222222;
  --hl-light: #7c9489;
  --hl-accent: #388260;

  display: block;
  color: var(--hl-base);
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  padding: 0.8em;
  box-sizing: border-box;
  font-size: 1rem;

  & .hl-attribute {
    font-style: italic;
  }
  & .hl-comment {
    color: var(--hl-light);
    font-style: italic;
  }
  & .hl-constant {
    color: var(--hl-contant);
  }
  & .hl-constant.builtin {
    color: var(--hl-contant);
    font-weight: bold;
  }
  & .hl-constructor {
  }
  & .hl-embedded {
  }
  & .hl-function {
  }
  & .hl-function.builtin {
    color: var(--hl-accent);
    font-weight: bold;
  }
  & .hl-keyword {
    color: var(--hl-accent);
    font-weight: bold;
  }
  & .hl-module {
    color: var(--hl-light);
  }
  & .hl-number {
    color: var(--hl-contant);
    font-weight: bold;
  }
  & .hl-operator {
    color: var(--hl-accent);
    font-weight: bold;
  }
  & .hl-property {
  }
  & .hl-property.hl-builtin {
    font-weight: bold;
  }
  & .hl-punctuation {
  }
  & .hl-punctuation.hl-bracket {
    color: var(--hl-light);
  }
  & .hl-punctuation.hl-delimiter {
    color: var(--hl-light);
  }
  & .hl-punctuation.hl-special {
  }
  & .hl-string {
    color: var(--hl-accent);
  }
  & .hl-string.hl-special {
    color: var(--hl-accent);
  }
  & .hl-tag {
  }
  & .hl-type {
    color: var(--hl-accent);
  }
  & .hl-type.hl-builtin {
    color: var(--hl-accent);
    font-weight: bold;
  }
  & .hl-variable {
    color: var(--hl-base);
  }
  & .hl-variable.hl-builtin {
    color: var(--hl-base);
    font-weight: bold;
  }
  & .hl-variable.hl-parameter {
    color: var(--hl-base);
    text-decoration: underline;
  }
}
